! Reload this file using ~ > xrdb ~/.Xresources~
! ------------------------------------------------------------------------------
! ROFI Color theme, tried to follow the colors in arc darker theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Rofi color meanings                bg            fg      bgalt         hlfg    hlbg
! Color scheme for normal row
rofi.color-normal:                   argb:002f343f,#f3f4f5,argb:002f343f,#5294e2,#f3f4f5
! Color scheme for urgent row
rofi.color-urgent:                   argb:002f343f,#e53935,argb:002f343f,#e53935,#f3f4f5
! Color scheme for active row
rofi.color-active:                   argb:002f343f,#676e7d,argb:002f343f,#676e7d,#f3f4f5
! Color scheme window
rofi.color-window:                   argb:aa2f343f,argb:aa2f343f 
! Separator style (none, dash, solid)
rofi.separator-style:                none

rofi.switchers: window,run,ssh,combi

